form{
    border: 1px solid red;
}
body{
    width: 1000px;
    margin: 0 auto;
}
#search{
    border: 1px solid black;
    width: 500px;
    margin: 0 auto;
}
#bigmenu{
    margin-top: 10px;
    border: 1px solid black;
}


div#contents1{
    width: 650px;
    height: 1000px;
    border: 1px solid black;
    float: left;
}
#adv,#menu,#news,#content1_1{
    border: 1px solid black;
}

div#sidebar{
    width: 280px;
    height: 1000px;
    margin-left: 20px;
    border: 1px solid black;
    float: left;
}

#ul1>li{
    width: 80px;
    height: 60px;
    float: left;
    margin: 0 15px 30px 0;
    border: 1px solid black;
}
#ul2>li{
    width: 80px;
    height: 60px;
    float: left;
    margin: 0 15px 15px 0;
    border: 1px solid black;
}


#ul3>li{
    width: 55px;
    height: 80px;
    float: left;
    margin: 0 30px 15px 0;
    border: 1px solid black;
}
#ul4>li{
    width: 120px;
    height: 80px;
    float: left;
    margin: 0 30px 15px 0;
    border: 1px solid black;
}
#ul5>li{
    width: 120px;
    height: 80px;
    float: left;
    margin: 0 30px 15px 0;
    border: 1px solid black;
}
#ul6>li{
    width: 120px;
    height: 80px;
    float: left;
    margin: 0 30px 15px 0;
    border: 1px solid black;
}


#ul7>li{
    height: 100px;
    float: left;
    margin: 0 15px 0 0;
    border: 1px solid black;
}

#content1_1{
    margin-top: 20px;
}

#ul_sidebar1>li{
    width: 65px;
    height: 60px;
    float: left;
    margin: 0 5px 10px 5px;
    border: 1px solid black;
}
#ul_sidebar2>li{
    width: 65px;
    height: 60px;
    float: left;
    margin: 0 5px 10px 5px;
    border: 1px solid black;
}
#ul_sidebar3>li{
    width: 65px;
    height: 60px;
    float: left;
    margin: 0 5px 10px 5px;
    border: 1px solid black;
}

.ad{
    width: 150px;
}



























/* legend{
    color: darkviolet;
    font-size: x-large;
}
fieldset{
    width: 600px;
    margin: 0 auto;
    margin-top: 20px;
}
.td_name{
    width: 150px;
}
#button{
    margin-top: 15px;
}
#table{
    width: 900px;
}
#textbox{
    width: 350px;
}
#checkbox{
    margin-left: 30px;
}
#text2{
    width: 80px;
} */
